<div>
  <div class="summary-patient-left-div">
    <app-dynamic-form [uiElements]="uiElements"></app-dynamic-form>
  </div>
  <div class="summary-patient-right-div">

    <div class="summary-patient-calender-div">
      <app-block-header-1-calendar-element [element]="blockHeader1CalendarElement"></app-block-header-1-calendar-element>
    </div>
    <div class="summary-patients-past-appointments-div">
      <p>Past appointments goes here</p>
    </div>
    <div class="summary-patient-notes-div">
      <p>Notes goes here</p>
    </div>
  </div>
</div>